
.navbar-default .logo-sm {
    height: 50px;
    width: 50px;
}

.navbar-default .logo-lg {
    height: 50px;
    width: 150px;
}


.sidebar {
    height: 100vh;
    position: fixed;
    background:linear-gradient(45deg, #0E263C 75%, #051E34 25%);
  background:-webkit-linear-gradient(45deg, #0E263C 75%, #051E34 25%);
}

